<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>Statistics</h1>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Player</th>
            <th>Hits</th>
            <th>Miss</th>
            <th>Sunked ships</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each_with_index do |player, i| %>
            <tr>
              <td class="text-center"><%= "##{i + 1}"  %></td>
              <td class="text-center"><%= player[:hits] %></td>
              <td class="text-center"><%= player[:miss] %></td>
              <td class="text-center"><%= player[:sunk] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'Go to game', game_url(current_game.slug), class: 'btn btn-primary btn-sm btn-info' %>
    </div>
  </div>
</div>
